node_modules/
certificates/localSP/*
certificates/remoteIDP/*
certificates/SSL/*
!certificates/SSL/place_SSL_certificates_here.txt
!certificates/localSP/place_SP_certificates_here.txt
!certificates/remoteIDP/place_IDP_certificates_here.txt
/public/SP_metadata.xml
/public/AuthnResponse.xml
/public/LogoutResponse.xml
configuration/*
!configuration/example_config.json