doctype html
html(lang="en")
	head
		title=Assert
		link(href='/css/standard.css',rel='stylesheet')
		script(src='/js/javascript.js')
	body
		#navbar
			ul.nav
				li.nav
					a.button(href="https://sp.jorenhost.net/home") Home
					a.button(href="https://sp.jorenhost.net/login") Login
					a.button(href="https://sp.jorenhost.net/logout") Logout
					a.button(href="https://sp.jorenhost.net/metadata.xml") SP metadata
		#sitecontent
			h2 Simple SP home page
			p.smalltext This page was created as a simple service provider for testing ADFS idp setups